*{
	margin: 0;
	padding: 0;
}
@font-face {
  font-family: "HelloCalanthe";
  src: url("Fonts/HelloCalanthe.ttf");
}
@font-face {
  font-family: "PeachyMochi";
  src: url("Fonts/PeachyMochi.ttf");
}
body{

  font-family: "HelloCalanthe";
  text-align: center;
  background-image: url(./img/fondo.png);
  width: 100%;
}
header{
  padding-top: 24px;
}
.julisarojas{
  width: 80%;
  max-width: 1000px;
  background-color: rgb(255 255 255 / 22%);
  margin: 0 auto;
  margin-top: 24px;
  backdrop-filter: blur(12px);
}
.navegacion{
  /* ancho */
  width: 100%;
  margin: 30px auto;
  background: pink;
}
.navegacion ul{
  list-style: none;
}
/* llamada al hijo */
.menu > li {
  /* position: relative; */
  display: inline-block;
}
.menu > li > a{
  display: block;
  padding: 15px 20px;
  color:black;
  text-decoration: none;
}
.menu li a:hover{
  background-color:beige;
}
/* submenu */
.submenu{
  position: absolute;
  display: none;
}
.submenu li a{
  display: block;
  text-decoration: none;
}
.menu li:hover .submenu{
  display: block;
}
.galeria{
  margin: 80px;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-column-gap: 50px;

  grid-template-rows: repeat(2, 2fr);
  grid-row-gap: 50px;
}
.galeria div a {
  text-decoration: none;
  color: black
}
.galeria img {
  width: 100%;
}
.card img{
  width: 100%;
}

table th {
  border: 1px solid black;
}
table td{
  margin: 0 auto;
  border: 1px solid black;
}
.tablacarrito {
  margin: 0 auto;
}

.form-control {
  display: block;
  width: 50%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.column img {
  width: 100%;
}

.card {
  margin: 15px;
  padding: 10px;
  border-radius: 8px;
}
.card:hover {
  box-shadow: -1px 6px 10px 2px rgb(0 0 0 / 20%);
}

.grad {
  padding: 15px;
  font-family: "poppins";
  border: 1px;
  border-radius: 15px;
  background-image: linear-gradient(to bottom, red , yellow);
}
.grad a {
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: 1;
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.grad a {
  font-size: auto;
  text-decoration: none;
  color: white;
}

/*estilon2 */

.grad2 {
  padding: 10px;
  font-family: "poppins";
  border: 1px;
  border-radius: 25px;
  background-image: linear-gradient(to top, red , yellow);
}
.grad2 a {
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
}
.grad2 a {
  font-size: auto;
  text-decoration: none;
  color: black;
}

.button {
  padding: 10px 20px;
  font-family: "poppins";
  border-radius: 20px;
  background-image: linear-gradient(to left, rgba(225,200,239,1) 21.4%, rgba(163,225,233,1) 57.1% );
}

.button2 {
  padding: 10px 20px;
  font-family: "poppins";
  border-radius: 20px;
  background-image: linear-gradient(to top, rgba(225,200,239,1) 21.4%, rgba(163,225,233,1) 57.1% );
  animation: changeColor 5s linear 0.5s 4 normal forwards running;
}
@keyframes changeColor {
  from { background: rgb(255, 0, 179); }  
  to { background: rgb(172, 143, 253); }
}

.row {
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
}
.column {
  flex: 25%;
}
@media  (max-width: 800px){
  .column img{
    width: 50%;
  }
}
@media  (max-width: 600px){
  .column{
    flex: 100%;
  }
.column img {
  width: 100%;
  }
}

/* .b1{ 
  width: 960px;
  margin: 0 auto;
  background-color: red;
}*/
